# AI API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Langfuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=

# API Configuration
SEARCH_SERVICE_URL=http://localhost:8000/api

# GROBID PDF Parsing Setup
GROBID_URL=
GROBID_IMAGE_TAG=
